{% extends 'base.html.twig' %}

{% block contenu %}

<h2> liste des entreprises proposant un stage :  </h2>
	<ul>
		{% for entreprise in  listeEntreprises %}
		<li>
			<a href="{{path('proStage_entrepriseStages',{id:entreprise.id})}}"> {{entreprise.nom}} </a>
		</li>
		{% endfor %}
	</ul>

{% endblock %}