{% extends 'base.html.twig' %}
{% block contenu %}
<h2> liste des formations </h2>
	<ul>
		{% for formation in listeFormations %} 
			<li>
				<a href="{{path('proStage_formationStages',{id:formation.id})}}"> {{formation.nom}} </a>
			</li>
		{% endfor %}
	</ul>
	bonjour

{% endblock %}