{% extends 'base.html.twig' %}
{% block contenu %}
<h2> liste des formations </h2>
	<ul>
		<li>
			<a href="{{path('pro_stage_formations')}}"> DUT </a>
		</li>
		<li>
			<a href="{{path('pro_stage_formations')}}"> Licence </a>
		</li>
	</ul>

{% endblock %}