[class*=container-fluid-titre]{
	background-color : rgb(180,180,180);
	text-align : center;
	margin-bottom: 3%;
	margin-top : 2%;
	padding-top: 2%;
}
[class=col-md-12-titreStage]
{
	text-align:center;
}

[class=col-md-12-contenuStage]
{
	text-align:center;
}

[class=row]{
 text-allign: center;
}

#logo{
	padding : 5%;
}

[class=col-md-12-menu]{
	padding-top:2%;
}



.detailContenu{
	margin-bottom:1%;
}




.detailContenuDescriptif{
	margin-right : 30%;
	margin-left : 30%;

	
	
}
	
h3{
	padding: 10px;
	display:inline-block;
	border : 1px solid black;
	border-radius : 50px;
	margin-bottom : 10px;}

p{
	display:inline-block;
	
}

#mission{
	margin-left:22%;
	margin-right:22%;
	padding-right:3%;
	padding-left:3%;
	border : 1px solid black;
	border-radius : 50px;
}

#titreStage{
	margin-bottom:2%;
}
